<nav *ngIf="!isAuthRoute()">
  <div class="nav-header">
    <button class="hamburger" (click)="toggleMenu()">☰</button>
  </div>
  <ul [class.open]="menuOpen">
    <li><a routerLink="/" (click)="closeMenu()">Gallery</a></li>
    <li><a routerLink="/upload" (click)="closeMenu()">Upload</a></li>
    <li><a routerLink="/categories" (click)="closeMenu()">Categories</a></li>
    <li class="logout-container">
      <button (click)="logout()" class="logout-button">Logout</button>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>