# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out
/backend/dist
/backend/tmp

# Node
/node_modules
npm-debug.log
yarn-error.log
/frontend/node_modules
/backend/node_modules

# Backend node_modules
/gallery-backend/node_modules

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.angular/
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Ignore environment files
.env

# Ignore uploads folder
/backend/uploads
